  <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="./global.css" />
  <link rel="stylesheet" href="./index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" />
</head>

<body>
  <div class="dashboard">
    <div class="menu-profile">
      <div class="profile">
        <img class="profile-child" alt="" src="./public/ellipse-2@2x.png" />
        <div class="james-luis">James Luis</div>
        <div class="jamesluis12gmailcom">JamesLuis12@gmail.com</div>
      </div>
      <div class="menu">
        
        <div class="frame-parent">
          <div class="tablerhome-parent">
            <img class="tablerhome-icon" alt="" src="./public/tablerhome.svg" />
            <a href="javascript:void(0)" class="home">Home</a>
          </div>
          <div class="tablerhome-parent">
            <img class="vuesaxboldelement-3-icon" alt="" src="./public/vuesaxboldelement3.svg" />
            <a href="javascript:void(0)" class="home">Dashboard</a>
          </div>
          <div class="tablerhome-parent">
            <img class="tablerhome-icon" alt="" src="./public/mdiusercircle.svg" />
            <a href="javascript:void(0)" class="home">My Profile</a>
          </div>
          <div class="home-work-parent">
            <img class="tablerhome-icon" alt="" src="./public/home-work.svg" />
            <a href="javascript:void(0)" class="home">My Properties</a>
          </div>
          <div class="tablerhome-parent">
            <img class="tablerhome-icon" alt="" src="./public/tablerhomedollar.svg" />
            <a href="javascript:void(0)" class="home">My Investment</a>
          </div>
          <div class="tablerhome-parent">
            <img class="tablerhome-icon" alt="" src="./public/fesearch.svg" />
            <a href="javascript:void(0)" class="home">Search Properties</a>
          </div>
        </div>



        <div class="vuesaxlinearlogin-parent">
          <img class="vuesaxlinearlogin-icon" alt="" src="./public/vuesaxlinearlogin.svg" /><b class="log-out">Log out
          </b>
        </div>
      </div>
    </div>

    <ul>
      <li><img src="public/logo 1.svg"/></li>
      <div class="dropdown">
      <li style="float: right;"><img class="user-profile dropbtn" src="public/ellipse-2@2x.png">
        <div class="dropdown-content">
          <a href="#">logout</a>
        </div>
      </li>
    </div>
    </ul>

    <div class="property-details">
      <img class="mesh-08-icon" alt="" src="./public/mesh08@2x.png" />
      <div class="frame-group">
        <div class="large-4-room-apartment-with-a-parent">
          <b class="large-4-room-apartment-container">
            <p class="large-4-room-apartment">
              Large 4-room apartment with a
            </p>
            <p class="large-4-room-apartment">beautiful terrace</p>
          </b><b class="b">$200,000</b>
          <div class="ellipse-parent">
            <img class="frame-child" alt="" src="./public/ellipse-4.svg" />
            <div class="property-bought">Property Bought</div>
          </div>
          <div class="peoples-in-this-container">
            <b>30</b><span class="peoples-in-this"> peoples in this pool</span>
          </div>
        </div>

        <div class="progress-container">
          <div class="progress" id="progress"></div>
          <div class="circles active">1</div>
          <div class="pool-open">Pool Open</div>
          <div class="circles active">2</div>
          <div class="pool-closed">Pool Closed</div>
          <div class="circles">3</div>
          <div class="property-bought1">Property Bought</div>
          <div class="circles">4</div>
          <div class="place-bids">Place Bids</div>
          <div class="circles">5</div>
          <div class="journey-end">Journey End</div>
        </div>
        </div>
      </div>
    </div>

    <div class="progress-bar-parent">
      <div class="progress-bar">
        <img class="progress-bar-child" alt="" src="./public/group-11.svg" />
        <div class="progress-bar-item"></div>
        <div class="progress-bar-child">
          <img class="group-child" alt="" src="./public/ellipse-41.svg" />
          <div class="div3">2</div>
        </div>
        <div class="progress-bar-item"></div>
        <div class="ellipse-container">
          <img class="group-child" alt="" src="./public/ellipse-5.svg" />
          <div class="div3">3</div>
        </div>
      </div>
      <div class="div5">19/03/2023</div>
      <div class="div6">19/03/2023</div>
      <div class="frame-child3"></div>
      <div class="frame-child4"></div>
      <div class="you-have-reviewed">
        You have reviewed this property. We will notify you when bids are open
      </div>
      <div class="this-pool-is">
        This pool is open for bidding now. Please enter your highest offer!
      </div>
      <div class="button">
        <div class="text-wrapper"><b class="text">Bid</b></div>
      </div>
    </div>
  </div>
</body>

</html>